
@model PrintCompany.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2 style="font-weight: 500;">Edit Customer</h2>
<hr />
<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Customer Details</h3>
            </div>
            <div class="panel-body">
                <form action="/Customers/Edit" method="post" id="customerEditForm">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input required type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
                    </div>
                    <div class="form-group">
                        <label for="BillingAddress">Address</label>
                        <input type="text" class="form-control" id="BillingAddress" name="BillingAddress" value="@Model.BillingAddress">
                    </div>
                    <div class="form-group">
                        <label for="MainContact">Contact Name Surname</label>
                        <input type="text" class="form-control" id="MainContact" name="MainContact" value="@Model.MainContact">
                    </div>
                    <div class="form-group">
                        <label for="ContactPhone">Contact Phone</label>
                        <input type="text" class="form-control" id="ContactPhone" name="ContactPhone" value="@Model.ContactPhone">
                    </div>
                    <div class="form-group">
                        <label for="ContactEmail">Contact Email</label>
                        <input type="email" class="form-control" id="ContactEmail" name="ContactEmail" value="@Model.ContactEmail">
                    </div>
                    <div class="row">
                        <a href="/Customers" class="btn btn-primary" style="margin:5px 5px 5px 15px; width:75px;">Back</a>
                        <input type="submit" class="btn btn-success" style="margin:5px; width:75px;" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

