@model IEnumerable<PrintCompany.Core.Customer>

@{
    ViewData["Title"] = "Customers";
}

@section Styles
    {
    <link href="~/Content/css/datatables.min.css" rel="stylesheet" />
    <style>
        .orderheader {
            font-size: 30px;
            font-weight: 500;
            padding-top: 4px;
        }
        .dataTables-customers td{          
          overflow: hidden;
        }
    </style>
}

<div class="row">
    <div class="col-md-4">
        <a href="/Customers/Create" class="btn btn-success" style="margin:10px;">Add Customer</a>
    </div>
    <div class="col-md-8 orderheader">
        <h2 class="orderheader">CUSTOMERS</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-customers nowrap" style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Main Contact</th>
                                <th>Contact Phone</th>
                                <th>Contact Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <a class="badge badge-primary" href="/Customers/Edit/@item.Id">Edit</a> |
                                    <a class="badge badge-danger" href="/Customers/Delete/@item.Id"
                                       onclick="return checkDelete()">Delete</a>
                                </td>
                                <td style="overflow:hidden;">@item.Name</td>
                                <td style="overflow:hidden;">@item.BillingAddress</td>
                                <td style="overflow:hidden;">@item.MainContact</td>
                                <td style="overflow:hidden;">@item.ContactPhone</td>
                                <td style="overflow:hidden;">@item.ContactEmail</td>
                            </tr>
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/Scripts/datatables.min.js"></script>

    <script>

        $(document).ready(function () {
            $('.dataTables-customers').DataTable({               
                 // Design Assets
                    autoWidth: true,
                    // ServerSide Setups
                    processing: true,
                    serverSide: true,
                    // Paging Setups
                    paging: true,
                    // Searching Setups
                    searching: { regex: true },
                    // Ajax Filter
                    ajax: {
                        url: "/Customers/LoadTable",
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: function (d) {
                            return JSON.stringify(d);
                        }
                    },
                dom: '<"html5buttons" B>ftlp',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5]
                        }
                    },
                    'colvis'
                ],
                 // Columns Setups
                columns: [
                    {
                        data: "id",
                        render: function ( data, type, row ) {
                            return '<a class="badge badge-primary" href="/Customers/Edit/' + data + '">Edit</a> | '
                                +
                                '<a class="badge badge-danger" href="/Customers/Delete/' + data + '" onclick="return checkDelete()">Delete</a>';
                    }                        
                    },                    
                    { data: "name" },
                    { data: "billingAddress" },
                    { data: "mainContact" },
                    { data: "contactPhone" },
                    { data: "contactEmail" }                    
                ],
                columnDefs: [                    
                    //{ visible: false, searchable: false, targets: 0 },
                    { width: '10%', targets: 0 },
                    { width: '20%', targets: 1 },
                    { width: '25%', targets: 2 },
                    { width: '15%', targets: 3 },
                    { width: '15%', targets: 4 }
                ]
            });
        });

        //$(document).ready(function () {
        //    $('.dataTables-customers').DataTable({               
        //        dom: '<"html5buttons" B>ftlp',
        //        buttons: [
        //            {
        //                extend: 'excelHtml5',
        //                exportOptions: {
        //                    columns: [1, 2, 3, 4, 5]
        //                }
        //            },
        //            {
        //                extend: 'pdfHtml5',
        //                exportOptions: {
        //                    columns: [1, 2, 3, 4, 5]
        //                }
        //            },
        //            'colvis'
        //        ],
        //        columnDefs: [
        //            { width: '10%', targets: 0 },
        //            { width: '20%', targets: 1 },
        //            { width: '25%', targets: 2 },
        //            { width: '15%', targets: 3 },
        //            { width: '15%', targets: 3 }
        //        ]
        //    });
        //});
    </script>
    <script>
        function checkDelete() {
            var result = confirm("Do you want to delete the record");
            if (result) {
                return true;
            }
            return false;
        }

    </script>

}
