
@using Microsoft.AspNetCore.Mvc.Razor;
@*@using Microsoft.AspNetCore.Authorization;
    @inject IAuthorizationService AuthorizationService;*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<meta name="description" content="Mouldifi - A fully responsive, HTML5 based admin theme">
        <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, Mouldifi, web design, CSS3">*@
    <title>Logo Sports</title>
    <!-- Site favicon -->
    @*<link rel='shortcut icon' type='image/x-icon' href='~/Content/images/favicon.ico' />*@
    <!-- /site favicon -->

    <link href="~/Content/css/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />

    <link href="~/Content/css/entypo.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    @RenderSection("Styles", false)

    <link href="~/Content/css/mouldifi-core.css" rel="stylesheet" />
    <link href="~/Content/css/mouldifi-forms.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />

</head>
<body>
    @{string area = (RazorViewEngine.GetNormalizedRouteValue(ViewContext, "area")); }
    <!-- Page container -->
    <div class="page-container @(Context.Request.Cookies["SideBarCollapse"] == null ? "off" : (Context.Request.Cookies["SideBarCollapse"] == "off" ? "" : "sidebar-collapsed can-resize"))">
        <!-- Page Sidebar -->
        @if (area != "Identity")
        {
            <div class="page-sidebar">
                <!-- Site header  -->
                <header class="site-header">
                    <div class="site-logo"><a href="/Home"><img src="~/Content/images/Logo_Sports_logo-resizedbf42.jpg" alt="LogoSports" title="LogoSports" width="80"></a></div>
                    <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i class="icon-menu"></i></a></div>
                    <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
                </header>
                <!-- /site header -->
                <!-- Main navigation -->
                <ul id="side-nav" class="main-menu navbar-collapse collapse">

                    @{string controller = (ViewContext.RouteData.Values["Controller"] == null ? "" :
                                                                              ViewContext.RouteData.Values["Controller"].ToString().ToLower()); }

                    <li class="@(controller == "orders" ? "active" : "")">
                        <a href="/Orders"><i class="icon-gauge"></i><span class="title">Orders</span></a>
                    </li>
                    <li class="@(controller == "customers" ? "active" : "")">
                        <a href="/Customers"><i class="icon-users"></i><span class="title">Customers</span></a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="has-sub @(area == "Admin" ? "active" : "")">
                            <a href="@Url.Action("Index", "Types", new { area = "Admin" })"><i class="icon-cog"></i><span class="title">Admin</span></a>
                            <ul class="nav collapse">
                                <li class="@((area == "Admin" && controller == "types") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Types", new { area = "Admin" })">
                                        <span class="title">Item Types</span>
                                    </a>
                                </li>
                                <li class="@((area == "Admin" && controller == "sizes") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Sizes", new { area = "Admin" })"><span class="title">Item Sizes</span></a>
                                </li>
                                <li class="@((area == "Admin" && controller == "colors") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Colors", new { area = "Admin" })"><span class="title">Item Colors</span></a>
                                </li>
                                <li class="@((area == "Admin" && controller == "suppliers") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Suppliers", new { area = "Admin" })"><span class="title">Suppliers</span></a>
                                </li>
                                <li class="@((area == "Admin" && controller == "contacttypes") ? "active" : "")">
                                    <a href="@Url.Action("Index", "ContactTypes", new { area = "Admin" })"><span class="title">Contact Types</span></a>
                                </li>
                                <li class="@((area == "Admin" && controller == "administration") ? "active" : "")">
                                    <a href="@Url.Action("ListRoles", "Administration", new { area = "Admin" })"><span class="title">User Roles</span></a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                <!-- /main navigation -->
            </div>
            <!-- /page sidebar -->
        }
        <!-- Main container -->
        <div class="main-container gray-bg">

            <!-- Main header -->
            <!-- /main header -->
            <!-- Main content -->
            <div class="main-content">

                @RenderBody()

                <!-- Footer -->
                <!-- /footer -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /main container -->
    </div>

    <!-- /page container -->
    <!--Load JQuery-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/metismenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    <script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>

    @RenderSection("Scripts", false)

    <script src="~/Scripts/functions.js" type="text/javascript"></script>
    <script src="~/Scripts/site.js"></script>

    @RenderSection("Scripts2", false)

</body>
</html>
