@model IList<PrintCompany.ViewModels.OrderLineViewModel>

<form action="/OrderLines/Create/" method="post">
    @Html.AntiForgeryToken()
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover dataTables-orderLines nowrap" style="table-layout:fixed; width:100%;">
            <thead>
                <tr>
                    <th></th>
                    <th><strong>Type</strong></th>
                    <th><strong>Item Code</strong></th>
                    <th><strong>Color</strong></th>
                    <th><strong>Size</strong></th>
                    <th><strong>Quantity</strong></th>
                    <th><strong>Supplier</strong></th>
                    <th><strong>Pr. Req.</strong></th>
                    <th><strong>Pr. Qty/Tot.</strong></th>
                    <th><strong>Pr. Comp.</strong></th>
                    <th><strong>Emb. Req.</strong></th>
                    <th><strong>Emb. Qty/Tot.</strong></th>
                    <th><strong>Emb. Comp.</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string printButtonClass;
                    string embroideryButtonClass;
                    if (!item.PrintRequired)
                    {
                        printButtonClass = "disabled";
                    }
                    else
                    if (item.PrintCompletedQuantity < item.Quantity * item.PrintQuantity)
                    {
                        printButtonClass = "btn-warning";
                    }
                    else
                    {
                        printButtonClass = "btn-success";
                    };
                    if (!item.EmbroideryRequired)
                    {
                        embroideryButtonClass = "disabled";
                    }
                    else
                    if (item.EmbroideryCompletedQuantity < item.Quantity * item.EmbroideryQuantity)
                    {
                        embroideryButtonClass = "btn-warning";
                    }
                    else
                    {
                        embroideryButtonClass = "btn-success";
                    };
                <tr>
                    <td>
                        <a class="link" style="color: #2a5db0; cursor: pointer;text-decoration: underline;" href="#"
                           data-orderLineId="@item.Id" onclick="return fillOrderLineEditinfo(this.getAttribute('data-orderLineId') )">
                            Edit
                        </a> |
                        <a class="link" style="color: #2a5db0; cursor: pointer;text-decoration: underline;"
                           href="#" onclick="return checkDeleteOrderLine(@item.Id)">Delete</a>
                    </td>
                    <td>@item.ItemType.Type</td>
                    <td>@item.ItemCode</td>
                    <td>@item.ItemColor.Color</td>
                    <td>@item.ItemSize.Size</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Supplier == null ? "" : item.Supplier.Name)</td>
                    <td>@(item.PrintRequired ? "Yes" : "No") <input type="checkbox" name="@item.PrintRequired" value="@item.PrintRequired" checked="@item.PrintRequired" onclick="return false" ;></td>
                    <td>@item.PrintQuantity / @(item.PrintQuantity * item.Quantity)</td>
                    <td style="overflow:hidden; padding: 2px;">
                        <a href="#" data-orderLineId="@item.Id" class="btn @printButtonClass" style="width: 100%"
                           onclick="return fillOrderLineEditinfo(this.getAttribute('data-orderLineId'), 'Print')">
                            @item.PrintCompletedQuantity
                        </a>
                    </td>
                    <td>@(item.EmbroideryRequired ? "Yes" : "No") <input type="checkbox" name="@item.EmbroideryRequired" value="@item.PrintRequired" checked="@item.EmbroideryRequired" onclick="return false" ;></td>
                    <td>@item.EmbroideryQuantity / @(item.EmbroideryQuantity * item.Quantity)</td>
                    <td style="overflow:hidden; padding: 2px;">
                        <a href="#" data-orderLineId="@item.Id" class="btn @embroideryButtonClass" style="width: 100%"
                           onclick="return fillOrderLineEditinfo(this.getAttribute('data-orderLineId'), 'Embroidery')">
                            @item.EmbroideryCompletedQuantity
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>
@*</div>*@
@*</div>*@
@*</div>*@