@model PrintCompany.ViewModels.OrderLineViewModel


<div id="modal-2" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel-body">
                    <form method="post" id="formPost" class="modalForm form-horizontal">
                        @*<form action="/OrderLines/Edit" method="post" id="formPost">*@
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="OrderId" value="@Model.OrderId" />
                        <input type="hidden" id="ItemTypeType" value="@Model.ItemType.Type" />
                        <input type="hidden" id="ItemColorColor" value="@Model.ItemColor.Color" />
                        <input type="hidden" id="ItemSizeSize" value="@Model.ItemSize.Size" />
                        <input type="hidden" id="SupplierSupplier" value="@Model.SupplierName" />
                        <input type="hidden" id="ItemTypeTypeId" value="@Model.ItemTypeId" />
                        <input type="hidden" id="ItemColorColorId" value="@Model.ItemColorId" />
                        <input type="hidden" id="ItemSizeSizeID" value="@Model.ItemSizeId" />
                        <input type="hidden" id="SupplierSupplierID" value="@Model.SupplierId" />

                        <div class="form-group">
                            <label for="ItemTypeId" class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-5">
                                @Html.DropDownListFor(n => n.ItemTypeId, Enumerable.Empty<SelectListItem>(), new { @id = "itemTypeEdit" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ItemCode" class="col-sm-2 control-label">Item Code</label>
                            <div class="col-sm-5">
                                <input required type="text" placeholder="Item Code" class="form-control" name="ItemCode" id="ItemCodeEdit" value="@Model.ItemCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ItemColorId" class="col-sm-2 control-label">Color</label>
                            <div class="col-sm-5">
                                @Html.DropDownListFor(n => n.ItemColorId, Enumerable.Empty<SelectListItem>(), new { @id = "itemColorEdit" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="itemSizeEdit" class="col-sm-2 control-label">Size</label>
                            <div class="col-sm-3">
                                @Html.DropDownListFor(n => n.ItemSizeId, Enumerable.Empty<SelectListItem>(), new { @id = "itemSizeEdit" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Quantity" class="col-sm-2 control-label">Quantity</label>
                            <div class="col-sm-3">
                                <input required type="text" placeholder="Quantity" class="form-control keyupCheck" name="Quantity" id="QuantityEdit" value="@Model.Quantity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="supplierEdit" class="col-sm-2 control-label">Supplier</label>
                            <div class="col-sm-5">
                                @Html.DropDownListFor(n => n.SupplierId, Enumerable.Empty<SelectListItem>(), new { @id = "supplierEdit" })
                            </div>
                        </div>


                        <table class="table table-striped table-bordered table-hover nowrap">
                            <colgroup>
                                <col style="width:19%">
                                <col style="width:27%">
                                <col style="width:27%">
                                <col style="width:27%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th><strong>Print</strong></th>
                                    <th class="PrintQuantityEdit"><strong>Print Quantity</strong></th>
                                    <th class="PrintQuantityEdit"><strong>Print Total</strong></th>
                                    <th class="PrintQuantityEdit">
                                        <span>
                                            <button id="PrintCompleteAll" class="btn btn-success btn-xs" onclick="return maxPrint()" type="button">
                                                Complete All
                                            </button>
                                        </span><div><strong>Print Completed</strong></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(m => m.PrintRequired, new
                                        {
                                            @id = "PrintRequiredEdit",
                                       @class = "checkBox checkboxRequired",
                                            @onclick = "RequiredChecked(this)"
                                        })
                                    </td>
                                    <td class="PrintQuantityEdit">
                                        <div class="col-sm-8">
                                            <input required type="text" class="form-control keyupCheck" name="PrintQuantity" id="PrintQuantityEdit" value="@Model.PrintQuantity">
                                        </div>
                                    </td>
                                    <td class="PrintQuantityEdit">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="PrintTotalQuantityEdit" readonly>
                                        </div>
                                    </td>
                                    <td class="PrintQuantityEdit">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="PrintCompletedQuantity" id="PrintCompletedQuantity" value="@Model.PrintCompletedQuantity">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <table class="table table-striped table-bordered table-hover nowrap">
                            <colgroup>
                                <col style="width:19%">
                                <col style="width:27%">
                                <col style="width:27%">
                                <col style="width:27%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th><strong>Embroidery</strong></th>
                                    <th class="EmbroideryQuantityEdit"><strong>Embroidery Quantity</strong></th>
                                    <th class="EmbroideryQuantityEdit"><strong>Embroidery Total</strong></th>
                                    <th class="EmbroideryQuantityEdit">
                                        <span>
                                            <button id="EmbroideryCompleteAll" class="btn btn-success btn-xs" onclick="return maxEmbrodiery()" type="button">
                                                Complete All
                                            </button>
                                        </span><div><strong>Embroidery Completed</strong></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(m => m.EmbroideryRequired, new
                                        {
                                            @id = "EmbroideryRequiredEdit",
                                       @class = "checkBox checkboxRequired",
                                            @onclick = "RequiredChecked(this)"
                                        })
                                    </td>
                                    <td class="EmbroideryQuantityEdit">
                                        <div class="col-sm-8">
                                            <input required type="text" class="form-control keyupCheck" name="EmbroideryQuantity" id="EmbroideryQuantityEdit" value="@Model.EmbroideryQuantity">
                                        </div>
                                    </td>
                                    <td class="EmbroideryQuantityEdit">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="EmbroideryTotalQuantityEdit" readonly>
                                        </div>
                                    </td>
                                    <td class="EmbroideryQuantityEdit">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" style="margin-left: 15px;" name="EmbroideryCompletedQuantity" id="EmbroideryCompletedQuantity" value="@Model.EmbroideryCompletedQuantity">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="form-group">
                            <label for="Notes" class="col-sm-3 control-label">Notes</label>
                            <div class="col-sm-12">
                                <textarea placeholder="Notes" rows="5" cols="70" class="form-control" name="Notes" id="Notes">@Model.Notes</textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin:5px 5px 5px 0px; width:75px;">Close</button>
                        <button type="submit" id="submitButton" class="btn btn-success" style="margin:5px; width:75px;">Save</button>
                    </form>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


