@model PrintCompany.ViewModels.OrderLineViewModel


<div id="modal-2" class="modal fade" role="dialog" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel-body">
                    <form method="post" id="formPost">
                        @*<form action="/OrderLines/Edit" method="post" id="formPost">*@
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="OrderId" value="@Model.OrderId" />
                        <input type="hidden" id="ItemTypeType" value="@Model.ItemType.Type" />
                        <input type="hidden" id="ItemColorColor" value="@Model.ItemColor.Color" />
                        <input type="hidden" id="ItemSizeSize" value="@Model.ItemSize.Size" />
                        <input type="hidden" id="ItemTypeTypeId" value="@Model.ItemTypeId" />
                        <input type="hidden" id="ItemColorColorId" value="@Model.ItemColorId" />
                        <input type="hidden" id="ItemSizeSizeID" value="@Model.ItemSizeId" />
                        <div class="form-group">
                            <label for="itemTypeEdit">Type</label>
                            @Html.DropDownListFor(n => n.ItemTypeId, Enumerable.Empty<SelectListItem>(), new { @id = "itemTypeEdit" })
                        </div>
                        <div class="form-group">
                            <label for="itemColorEdit">Color</label>
                            @Html.DropDownListFor(n => n.ItemColorId, Enumerable.Empty<SelectListItem>(), new { @id = "itemColorEdit" })
                        </div>
                        <div class="form-group">
                            <label for="itemSizeEdit">Size</label>
                            @Html.DropDownListFor(n => n.ItemSizeId, Enumerable.Empty<SelectListItem>(), new { @id = "itemSizeEdit" })
                        </div>
                        <div class="form-group">
                            <label for="Quantity">Quantity</label>
                            <div>
                                <input type="text" placeholder="Quantity" class="form-control" name="Quantity" id="Quantity" value="@Model.Quantity">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.CheckBoxFor(m => m.PrintRequired) Print Required
                        </div>
                        <div class="form-group">
                            @Html.CheckBoxFor(m => m.EmbroideryRequired) Embroidery Required
                        </div>

                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin:5px 5px 5px 0px; width:75px;">Close</button>
                        <button type="submit" id="submitButton" class="btn btn-success" style="margin:5px; width:75px;">Save</button>
                    </form>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
