@model PrintCompany.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Create";
}

@section Styles
    {
    <link href="~/Content/css/datepickSelect2Dropz.min.css" rel="stylesheet" />
    <link href="~/Content/css/datatables.min.css" rel="stylesheet" />
}

<h2 style="font-weight: 500; margin-bottom:10px;">Create New Order</h2>
@*<hr />*@
<div class="row">
    @*<div class="col-sm-5">*@
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">Order Details</h3>
        </div>
        <div class="panel-body">
            <form action="/Orders/Create" method="post" id="orderCreateForm">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="CustomerId">Customer</label>
                        <div>
                            <select aria-required="true" required class="Customer select2 form-control select2-hidden-accessible" style="width:500px;" name="CustomerId" id="orderCustomerId"></select>
                        </div>
                    </div>
                    <div class="form-group col-xs-2">
                        @Html.LabelFor(x => x.OrderDate)
                        @Html.EditorFor(x => x.OrderDate, new { htmlAttributes = new { @class = "form-control", required="required" } })                       
                    </div>
                    <div class="form-group col-xs-2">
                        @Html.LabelFor(x => x.DueDate)
                        @Html.EditorFor(x => x.DueDate, new { htmlAttributes = new { @class = "form-control" } })                                           </div>
                </div>
                <div class="row">
                    <a href="/Orders" class="btn btn-primary" style="margin:5px 5px 5px 15px; width:75px;">Cancel</a>
                    <input type="submit" class="btn btn-success" style="margin:5px; width:75px;" value="Save" />
                </div>
            </form>
        </div>
    </div>
    @*</div>*@
</div>

@section Scripts
    {
    <script src="~/Scripts/datepickSelect2Dropz.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.date-popup').datepicker({
                autoclose: true,
                todayBtn: true,
                //format: "dd/mm/yyyy",
                enableOnReadonly: false,
                keyboardNavigation: false,
                forceParse: false,
                todayHighlight: true
            });

            $(".Customer").select2({
                placeholder: "Customer",
                ajax: {
                    url: "/Customers/GetCustomerList",
                    dataTYpe: "json",
                    data: function (params) {
                        return {
                            searchTerm: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    }
                }
            });
        });
    </script>
}
