@model PrintCompany.ViewModels.OrderViewModel

@{
    Layout = null;
}
@section Styles
    {
    <style>
    </style>
}
<html lang="en">
<head>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div>
                <div class="invoice-title">
                    <h2> <strong>Order No: </strong>@Model.Id</h2>
                    <hr>
                </div>
                <div>
                    <h2>
                        <strong>Customer: </strong>
                        @Model.CustomerName
                    </h2><br>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table class="table table-condensed" style="margin-bottom: 0px;">
                            <thead>
                                <tr>
                                    <td><h3 class="panel-title"><strong>Order Placed On: </strong>@Model.OrderDate.ToString("dd/MM/yyyy")</h3></td>
                                    <td><h3 class="panel-title"><strong>Order Due Date: </strong>@Model.DueDate?.ToString("dd/MM/yyyy")</h3></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td><strong>Type</strong></td>
                                        <td class="text-center"><strong>Price</strong></td>
                                        <td class="text-center"><strong>Color</strong></td>
                                        <td class="text-center"><strong>Size</strong></td>
                                        <td class="text-center"><strong>Quantity</strong></td>
                                        <td class="text-center"><strong>Prnt. Quantity</strong></td>
                                        <td class="text-center"><strong>Embr. Quantity</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.orderLineViewModels)
                                    {
                                    <tr>
                                        <td class="col-md-3">
                                            <div>
                                                <h4 class="media-heading"> @item.ItemType.Type </h4>
                                                <h5 class="media-heading"> @item.ItemCode </h5>
                                            </div>
                                        </td>
                                        <td class="text-center">@item.Price</td>
                                        <td class="text-center">@item.ItemColor.Color</td>
                                        <td class="text-center">@item.ItemSize.Size</td>
                                        <td class="text-center">@item.Quantity</td>
                                        <td class="text-center">@item.PrintQuantity</td>
                                        <td class="text-center">@item.EmbroideryQuantity</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="invoice-title">
                <h4> <strong>Notes: </strong></h4>
                <textarea style="overflow: hidden; width:900px; border-color: #e9e9e9;" id="textAreaNotes">@Model.Notes</textarea>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery.min.js"></script>  

    <script>
        $("textarea").height( $("textarea")[0].scrollHeight );
    </script>

</body>

</html>